<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @*<div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <a class="nav-link">@Html.ActionLink("Home", "Index", "Home")</a>
            <a class="nav-link">@Html.ActionLink("Cards", "Index", "CardInfo/Add")</a>
            <a class="nav-link">@Html.ActionLink("Specials", "Index", "Specials")</a>
            <a class="nav-link">@Html.ActionLink("Contact", "Index", "Home/Contact")</a>
            <a class="nav-link">@Html.ActionLink("Search", "Index", "CardInfo/Index")</a>
            <a class="nav-link">@Html.Partial("_LoginPartial")</a>
        </nav>
        </div>*@
    <div id="app" class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-faded">
            <a class="navbar-brand" href="#">MTG Cards!</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarNavDropdown" class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Cards", "Index", "CardInfo/Add", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Search", "Index", "CardInfo/Index", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Specials", "Index", "Specials", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Contact", "Index", "Home/Contact", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Login", "Login", "Account", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                </ul>
                @*<ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('/login') }}">Login</a>
                    </li>
                </ul>*@
            </div>
        </nav>
    </div>
    @*<div id="app" class="container">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @Html.ActionLink("Card Dealership", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

                <div id="navbarNavDropdown" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Cards", "Index", "CardInfo/Add")</li>
                        <li>@Html.ActionLink("Specials", "Index", "Specials")</li>
                        <li>@Html.ActionLink("Contact", "Index", "Home/Contact")</li>
                        @Html.Partial("_LoginPartial")
                    </ul>
                </div>
            </div>
        </div>
    </div>*@
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
